.HotelMobileContainer {
    background: linear-gradient(180deg, rgba(100,151,172,1) 0%, rgba(185,209,219,1) 100%); 
    display: flex;
    flex-direction: column;
}

.HotelDesktopContainer {
    display:none
}

.bookNow{
    position: fixed;
    display: flex;
    height: 9vh;
    width: 100vw;
    background-color: black;
    color: white;
    bottom: 0;
    font-weight: bold;
    font-size: large;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2vw;
}

.backAndDate {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2rem;
    height: 7vh;
}

@media screen and (min-width: 992px) {
    .HotelMobileContainer {
        display: none;
    }
    .HotelDesktopContainer {
        display: inline-block;
    }

    .HotelDesktopContainer .HoteldataContainer {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .HotelDesktopContainer .mainData {
        width: 65vw;
        display: flex;
        flex-direction: column;
    }
    

}

@media screen and (min-width: 1300px) {
       .HotelDesktopContainer .mainData {
            width: 75vw;;
       }
}
