.site-checkbox-all-wrapper {
  border-bottom: 1px solid #e9e9e9;
}
[data-theme="dark"] .site-checkbox-all-wrapper {
  border-bottom: 1px solid #303030;
}
.ant-checkbox-group span{
  color: red;
}

.checkboxholder {
  padding: 2rem;
  width: 100%;
  
}

.checkbox {
  color: #eb234a;
}
.checkboxcontainer {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkboxcheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid #eb234a;
}

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .checkboxcheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a red background */
.checkboxcontainer input:checked ~ .checkboxcheckmark {
  background-color: #eb234a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxcheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .checkboxcheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .checkboxcheckmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}